@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio - Home";
}

<div class="intro">
    <h2>Hi, I'm a Junior Web Developer in Portland, Oregon</h2><br>
    <img src="~/img/me-motorcycle.jpg" alt="This is a picture of me with my motorcycle" class="john-day" />
    <p>I left my successful career as senior graphic designer at the <strong>Portland Business Journal</strong> to study web development after becoming increasingly fascinated with the challenge and power of coding. Here's what the Business Journal had to say when I left the company (scroll down to the subhead, "This one's gonna sting"): <a href="http://www.bizjournals.com/portland/news/2016/09/09/5-things-to-know-for-friday-and-farewell-to-the.html">5 things to know for Friday, and farewell to the PBJ's secret weapon</a></p>
    <p>Now I'm a student at Epicodus learning C#, JavaScript and CSS. My goal is to become a full-stack web developer and use my graphic design skills to not only be a back-end developer, but also integrate front end design. Check out my <a asp-controller="Projects" asp-action="Index">Projects page</a> to see what I've been building on GitHub.</p> 
    <p>I have a bachelor's degree from <strong>Syracuse University</strong>, where I graduated magna cum laude with honors in English.</p>
    <h4>Interests</h4>
    <p>When I'm not working, I like to:</p>
    <ol>
        <li>Ride my motorcycle.</li>
        <li>Climb mountains.</li>
        <li>Then ski from the summit of those mountains.</li>
        <li>Ride my motorcycle some more!</li>
    </ol>
    <p>You can contact me anytime,&#8201;&#8201;<a href="mailto:stevevburton@gmail.com">here.</a> </p>
</div>