body {
    background-image: url(../img/motorcycle-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
}

div.header h1 {
  font-size: 8em;
  font-weight: 200;
  letter-spacing: .01em;
}

ul.nav {
    margin-top: 4px;
}

ul.nav li {
    margin-right: 5px;
}

div.header ul.nav li a:hover {
    cursor: pointer;
}

img.steve {
    width: 200px;
    float: right;
    margin-top: 15px;
}

/* ###### Home Index page styling ###### */
div.intro {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 30px 20px 30px;
    margin-top: 35px;
    margin-bottom: 50px;
    color: black;
    border-radius: 5px;
}

div.intro p {
  font-size: 1.1em;
}

div.intro a {
  color: darkblue;
  padding: 0 3px 0 5px;
  
}

div.intro a:hover {
  color: steelblue;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

div.intro ol {
  font-size: 1.1em;
}

img.john-day {
    width: 300px;
    float: right;
    margin-left: 20px;
    border-radius: 4px;
}

/* #### About page styling #### */
div.about {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 30px 20px 30px;
    margin-top: 35px;
    margin-bottom: 50px;
    color: black;
    border-radius: 5px;
}
