/* ###### Shared layout page styling ###### */
body {
    background-image: url(../img/ptarmagin-traverse.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
}

div.header h1 {
    font-size: 8em;
    font-weight: 200;
    letter-spacing: .01em;
    color: white;
    text-shadow: 1px 1px 20px #5d6f82;
}

div.header p {
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 1px 1px 10px #5d6f82;
    color: white;
}

ul.nav-tabs li {
    font-weight: 600;
}

ul.nav li {
    margin-right: 5px;
}

div.header ul.nav li a:hover {
    cursor: pointer;
}

img.steve {
    width: 200px;
    float: right;
    margin-top: 15px;
}

/* ###### Home index page styling ###### */
div.intro {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 30px 20px 30px;
    margin-top: 35px;
    margin-bottom: 50px;
    color: black;
    border-radius: 5px;
}

div.intro p {
  font-size: 1.1em;
}

div.intro a {
  color: darkblue;
  padding: 0 3px 0 5px;
}

div.intro a:hover {
  color: steelblue;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

div.intro ol {
  font-size: 1.1em;
}

div.intro img.diamond-peak {
    width: 300px;
    float: right;
    margin-left: 20px;
    border-radius: 4px;
}

div.intro p.email {
    font-size: 1.2em;
    font-weight: 700;
}


/* #### About page styling #### */
div.about-headline h1 {
    margin-top: 20px;
    font-size: 7em;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 20px black;
}

div.about-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

div.about {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 30px 20px 30px;
    margin-top: 15px;
    margin-bottom: 50px;
    color: black;
    border-radius: 5px;
}

div.projects {
    padding-top: 22px;
    width: 27%;
}

div.projects img {
    border-radius: 4px;
    width: 100%;
    margin: 10px 0px 3px 0px;
}

div.spacer-column {
    width: 3%;
}

div.resume {
    width: 70%;
}

div.projects h4 {
    font-weight: 600;
}

div.contact {
    float: right;
    margin: 10px 8px 0px 0px;
    text-align: right;
    font-size: 1.3em;
    font-weight: 700;
}

div.resume h1 {
    font-weight: 600;
}

div.resume h3 {
    font-weight: 600;
}

div.resume h4 {
    font-weight: 600;
}

div.about p {
  font-size: 1.1em;
}

div.about a {
  color: darkblue;
}

div.about a:hover {
  color: steelblue;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: 1.02em;
}


/* #### Projects page styling #### */
.btn {
    background-color: #c6c6c6;
}


/* #### Media Query #### */
@media screen and (max-width: 1200px) {
    div.header h1 {
        font-size: 8em;
        font-weight: 200;
        letter-spacing: .01em;
        color: white;
        text-shadow: 1px 1px 20px #5d6f82;
    }
    
}
@media screen and (max-width: 1080px) {
    div.container {
        width: 85%;
    }
    div.header h1 {
        font-size: 6.5em;
        font-weight: 200;
        letter-spacing: .01em;
        color: white;
        text-shadow: 1px 1px 20px #5d6f82;
        margin-right: 0px;
    }
    img.steve {
        width: 200px;
        float: right;
        margin-top: 0px;
        margin-left: 0px;
    }
    ul.nav {
        margin-top: 7px;
    }
}
@media screen and (max-width: 950px) {
    div.header h1 {
        font-size: 5.5em;
        font-weight: 200;
        letter-spacing: .01em;
        color: white;
        text-shadow: 1px 1px 20px #5d6f82;
    }
    img.steve {
        width: 180px;
        float: right;
        margin-top: 0px;
        margin-left: 0px;
    }
    ul.nav {
        margin-top: 3px;
    }
}
@media screen and (max-width: 820px) {
    div.header h1 {
        font-size: 5.5em;
        font-weight: 200;
        letter-spacing: .01em;
        color: white;
        text-shadow: 1px 1px 20px #5d6f82;
    }
    div.header img.steve {
        display: none;
    }
    div.intro img.diamond-peak {
        width: 200px;
    }

    div.about-headline h1 {
        font-size: 5.8em;
    }
    div.projects {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    div.spacer-column {
        width: 10%;
        display: inline-block;
        height: 0px;
    }
    div.resume {
        width: 100%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    div.header h1 {
        font-size: 4.5em;
        font-weight: 200;
        letter-spacing: .01em;
        color: white;
        text-shadow: 1px 1px 20px #5d6f82;
    }
    div.intro img.diamond-peak {
        float: none;
        margin-left: 0px;
        margin-bottom: 8px;
        width: 300px;
    }
}