@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio - Starred Repositories";
}

@using PortfolioDotnet.Models
@model List<Projects>

<div class="intro">
    <h3>Here are my three most-starred projects</h3>
    <div>
        <div>
            @foreach (var project in Model)
            {
                <p>@Html.DisplayFor(modelItem => project.Name)</p>
            }
        </div>

        @*@for (var i = 0; i <= 3; i++)
            {
            <h4>@Model.items[i].name</h4>
        }*@
    </div>
</div>