@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio - Starred Repositories";
}

@using PortfolioDotnet.Models
@model List<Projects>

<div class="intro">
    <h3>Here are my most-starred projects</h3>
    <div>
        <div>
            @foreach (var project in Model)
            {
                <p>@Html.DisplayFor(modelItem => project.Name)</p>
            }
        </div>
    </div>
</div>