@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio - About";
}

<div>
    <div class="about-headline">
        <h1>About me</h1>
    </div>
    <div class="row about-row">
        <div class="about projects col-sm-3">
            <h4>Skills</h4>
            <p><strong>C# &ndash; </strong>ASP.NET</p>
            <p><strong>JavaScript &ndash; </strong>Angular 2, JQuery, Ember</p>
            <p><strong>CSS &ndash; </strong>Sass, design</p><br />

            <h4>Here are some of my projects on GitHub</h4> 
            <p><a href="https://github.com/steve-burton/cider-site">Cider-Maker&rsquo;s Resource</a></p>
            <p><a href="https://github.com/steve-burton/nw-hikes">Hike the Northwest</a></p>
            <p><a href="https://github.com/steve-burton/beer-recommendation-csharp">Oregon Beer Central</a></p>
            <p><a href="https://github.com/steve-burton/blogsite">Musical Talismans</a></p>
            <p><a href="https://github.com/steve-burton/son-of-cod-seafood-dotnet">Son of Cod Seafood</a></p>
            <p><a href="https://github.com/steve-burton/gummi-bear-kingdom-dotnet">Gummi Bear Kingdom</a></p>
            <p><a href="https://github.com/steve-burton/angular-hiking-club">Portland Hiking Club</a></p>
            <h5>You can find the rest of my projects <a href="https://github.com/steve-burton">here</a>.</h5>       
        </div>

        <div class="spacer-column"></div>

        <div class="about resume col-sm-8">
            <div class="contact">
                <a href="mailto:stevevburton@gmail.com">Email me</a><br />
                <a href="https://www.linkedin.com/in/steve-burton-pdx/">Find me on Linkedin</a>
            </div>
            <h1>Resume</h1>
            <h3>Work Experience</h3>
            <p><em>2000 - 2016</em></p>
            <h4><em>Portland Business Journal</em> &ndash; Senior Graphic Designer</h4>
            <ul>
                <li>Responsible for design and layout of weekly newspaper and special publications.</li>
                <li>Designed in-house marketing materials for print, web and e-mail.</li>
                <li>Manage production of newspaper, special publications and other printed materials.</li>
                <li>One of three employees of the year for the years 2006 and 2010.</li>
                <li>Worked effectively with the design team and with other departments in a fast-paced, deadline-driven environment with a close attention to detail.</li>

            </ul>

            <p><em>1998 - 2000</em></p>
            <h4> <em>RUDE: International </em>Magazine &ndash; Creative Director, Co-Publisher</h4>

            <h3>Education</h3>
            <h4>Epicodus &ndash; 2017</h4>
            <ul>
                <li>Completed coursework in web development.</li>
                <li>Studies covered C#, ASP.NET, JavaScript, Angular 2, Ember, CSS, HTML.</li>
            </ul>

            <h4>Syracuse University &ndash; 1994, B.A. English and Textual Studies</h4>
            <ul>
                <li>Graduated Magna Cum Laude, with Honors in English.</li>
                <li>Volunteered in the university&rsquo;s Writing Program.</li>
            </ul>

            <h3>Other Skills</h3>
            <ul>
                <li>Thorough knowledge of Macintosh OS X, Adobe InDesign, Photoshop, Illustrator, Acrobat, Enfocus Pitstop, and Microsoft Office.</li>
                <li>Proofread to Chicago Manual of Style and AP Styleguide.</li>
            </ul>

            <h3>Volunteer</h3>
            <h4>Mazamas Mountaineering Organization</h4>
            <ul>
                <li>Publications Committee, committee work included Assistant Editor and Photo Editor.</li>
                <li>Instructed Advance Snow and Ice, and Advanced Rock classes.</li>
            </ul>
            
        </div>
    </div>

</div>