@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio - About";
}

<div>
    <div class="about-headline">
        <h1>About me</h1>
    </div>
    <div class="about-row">
        <div class="about projects col-sm-3">
            <h4>Here are some of my projects on GitHub</h4> 
            <p><a href="https://github.com/steve-burton/cider-site">Cider-Maker's Resource</a></p>
            <p><a href="https://github.com/steve-burton/nw-hikes">Hike the Northwest</a></p>
            <p><a href="https://github.com/steve-burton/beer-recommendation-csharp">Oregon Beer Central</a></p>
            <p><a href="https://github.com/steve-burton/blogsite">Musical Talismans</a></p>
            <p><a href="https://github.com/steve-burton/son-of-cod-seafood-dotnet">Son of Cod Seafood</a></p>
            <p><a href="https://github.com/steve-burton/gummi-bear-kingdom-dotnet">Gummi Bear Kingdom</a></p>
            <p><a href="https://github.com/steve-burton/angular-hiking-club">Portland Hiking Club</a></p>
            <h5>You can find the rest of my projects <a href="https://github.com/steve-burton">here</a>.</h5>
            <h4>Skills</h4>
            <p><strong>C# - </strong>ASP.NET</p>
            <p><strong>JavaScript - </strong>Angular 2, JQuery, Ember</p>
            <p><strong>CSS - </strong>Sass, design</p>
        </div>
        <div class="spacer-column"></div>
        <div class="about resume col-sm-8">
            <div class="contact">
                <a href="mailto:stevevburton@gmail.com">Email me</a><br />
                <a href="https://www.linkedin.com/in/steve-burton-pdx/">Find me on Linkedin</a>
            </div>
            <h3>Resume</h3>
            <h4>Work Experience</h4>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            <h4>Education</h4>
            <p>It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.</p>
            <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.</p>
            <p>We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go.</p>
            <h4>Volunteer</h4>
            <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature. Man must explore,. and this is exploration at its greatest.</p>
            <p>We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore. We believe in what we’re doing. Now it’s time to go.</p>
        </div>
    </div>

</div>